
  <div id="app">
    <h1>Hello, {{ name }}</h1>
    <input type="text" v-model="name"/>
  </div>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
<script>
var app = new Vue({
  el: '#app',
  data: {
    name: 'Vue',
  },
});
</script>