<template>
  <div id="selectBitApi">
    <div>
      <input type="checkbox" id="BTC" value="BTC" v-model="checkBits">
      <label for="BTC">BTC</label>
      <input type="checkbox" id="ETH" value="ETH" v-model="checkBits">
      <label for="ETH">ETH</label>
      <input type="checkbox" id="DASH" value="DASH" v-model="checkBits">
      <label for="DASH">DASH</label>
      <input type="checkbox" id="LTC" value="LTC" v-model="checkBits">
      <label for="LTC">LTC</label>
      <input type="checkbox" id="ETC" value="ETC" v-model="checkBits">
      <label for="ETC">ETC</label>
      <input type="checkbox" id="XRP" value="XRP" v-model="checkBits">
      <label for="XRP">XRP</label>
      <input type="checkbox" id="BCH" value="BCH" v-model="checkBits">
      <label for="BCH">BCH</label>
      <input type="checkbox" id="XMR" value="XMR" v-model="checkBits">
      <label for="XMR">XMR</label>
      <input type="checkbox" id="ZEC" value="ZEC" v-model="checkBits">
      <label for="ZEC">ZEC</label>
      <input type="checkbox" id="QTUM" value="QTUM" v-model="checkBits">
      <label for="QTUM">QTUM</label>
      <input type="checkbox" id="BTG" value="BTG" v-model="checkBits">
      <label for="BTG">BTG</label>
      <input type="checkbox" id="EOS" value="EOS" v-model="checkBits">
      <label for="EOS">EOS</label>
      <span>{{checkBits}}</span>
      <button v-on:click="selectBitApi">검색</button>

      <h1>Hello, {{ name }}</h1>
      <input type="text" v-model="name" />
    </div>
    <div v-if="hasResult">
      <div v-for="(post, index) in posts.data" v-bind:key="post.data">
        <h1>{{index}}</h1>
        <div v-for="(currency, index) in post" v-bind:key="currency.opening_price">
          <table>
            <tr>
              <th>{{index}}</th>
            </tr>
          </table>
          <p>{{index}} : {{currency}}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';

export default {
  name: 'app',
  data: function() {
    return {
      posts: [],
    };
  },
  computed: {
    hasResult: function() {
      return this.posts.status == '0000';
    },
  },
  created: function() {
    // this.selectBitApi();
    // this.timer = setInterval(this.selectBitApi, 3000);
  },
  methods: {
    selectBitApi: function() {
      // using JSONPlaceholder
      const baseURI = 'https://api.bithumb.com/public/ticker/';
      this.$http.get(`${baseURI}/ALL`).then(result => {
        console.log(result);
        this.posts = result.data;
      });
    },
    cancelAutoUpdate: function() {
      clearInterval(this.timer);
    },
  },
  beforeDestroy() {
    clearInterval(this.timer);
  },
};

new Vue({
  el: '#selectBitApi',
  data: {
    checkBits: [],
  },
});
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  max-width: 1024px;
}
</style>
